/* Badges */

.badge {
  border-radius: 3px;
  font-size: 11px;
  line-height: 1;
  padding: 0.187rem 0.4rem;
  font-weight: 500;
  &.badge-pill {
    border-radius: 10rem;
  }
}

/*Badge outlined variations*/
@each $color, $value in $theme-colors {
  .badge-outline-#{$color} {
    @include badge-outline-variations($value);
  }
}